@import "instance";

.first_content {
    @include flex-direction(column);
    @include align-items(center);
    @include position;
    @include flex;
    @extend %line_top_1;
    @extend %line_bottom_1;

    .plus_2 {
        @extend %plus_2;

        &:before {
            @include brp($b6) {
                @include transform(rotate(-13deg) translate(233px, -125px));
            }
        }
    }

    .pattern_1 {
        @include position(absolute, 205px, calc(50% + 280px), bottom);

        @include brp(1510) {
            left: initial;
            right: 305px;
        }

        @include brp($b6) {
            right: 145px;
        }
    }

    .title {
        @include text(center, capitalize);
        @include wh(420px);
        @extend %title_1;
        margin: {
            top: 220px;
            bottom: 25px;
        };

        @include brp($b8) {
            @include wh(80%);
            margin-top: 95px;
        }
    }

    .content {
        @include wh(513px);
        @include text(center);
        @extend %content_1;
        margin-bottom: 40px;

        @include brp($b7) {
            @include wh(80%);
        }

        @include brp($b8) {
            @include wh(254px);
        }
    }

    .button_1 {
        @include button_style(());
        margin-bottom: 110px;

        @include brp($b5) {
            margin-bottom: 110px;
        }
    }

    .explore {
        @include font(szrem(14), $f1, bold);
        @include position;
        @include text(center);
        color: $c1;

        &:before {
            @include position(absolute, 20px, 50%);
            @include transform(translate(-50%, 0));
        }
    }
}

.whatisit {
    @include position;
    @extend %line_bottom_1;

    .main_container {
        @include justify-content(center);
        display: flex;

        @include brp(1510) {
            @include flex-direction(column);
        }

        .info {
            @include flex;
            @include wh(408px);
            flex-direction: column;
            margin-right: 45px;

            @include brp(1510) {
                margin-right: 0;
                margin-bottom: 45px;
            }

            @include brp($b5) {
                @include align-items(flex-start);
                margin: 0;
            }

            @include brp($b8) {
                @include wh(80%);
                padding-left: 30px;
                margin: initial;
            }

            .title {
                @extend %title_1;
                margin-bottom: 25px;
            }

            .content {
                @extend %content_1;
                margin-bottom: 25px;

                @include brp($b5) {
                    text-align: left;
                }

                @include brp($b8) {
                    width: 254px;
                }
            }

            .link_1 {
                @include font(szrem(22), $f1, bold);
                @include text(left, capitalize, underline);
                color: $c1;

                @include brp($b5) {
                    font-size: szrem(14);
                }
            }
        }

        .graph {
            @include position;
            @include grid;
            grid: {
                template-columns: 390px 390px;
                gap: 0 15px;
            }

            @include brp($b5) {
                grid-template-columns: auto;
                margin: 63px 75px;
            }

            @include brp($b8) {
                left: initial;
                right: -70px;
                margin: 63px 0;
            }

            @include brp(400) {
                right: 0;
            }

            &:before {
                @include position(absolute, -50%, -15%);
                @include wh(1024px, 768px);
                background-color: $c6;
                content: "";
                z-index: -1;

                @include brp($b5) {
                    @include wh(350px, 697px);
                    top: -30px;
                    left: -25px;
                }

                @include brp($b8) {
                    width: 254px;
                    height: 414px;
                    top: -23px;
                    left: -41px;
                }

            }

            img {
                @include brp($b5) {
                    @include wh(400px);
                    margin-bottom: 15px;
                }

                @include brp($b7) {
                    @include wh(300px);
                }

                @include brp($b8) {
                    @include wh(172px);
                }
            }
        }
    }

    .pattern_2 {
        @include position(absolute, 205px, calc(50% - 470px), bottom);

        @include brp(1510) {
            left: 55px;
        }

        @include brp($b2) {
            left: -85px;
        }

        @include brp($b5) {
            left: 50px;
        }
    }
}

.why {
    @include position;
    @extend %line_bottom_1;
    z-index: 2;

    @include brp(1510) {
        padding-bottom: 45px;
    }

    .main_container {
        display: flex;

        @include brp(1510) {
            @include flex-direction(column-reverse);
        }

        .info {
            @include flex;
            @include wh(408px);
            flex-direction: column;
            margin-right: 45px;

            @include brp($b8) {
                @include align-items(flex-end);
                @include wh(80%);
                margin: 0;
            }

            .title {
                @include text(right);
                @extend %title_1;
                margin-bottom: 25px;
            }

            .content {
                @include text(right);
                @extend %content_1;
                margin-bottom: 25px;

                @include brp($b8) {
                    width: 254px;
                }
            }
        }

        .graph {
            @include position;
            @include wh(1024px, 768px);

            @include brp($b4) {
                @include wh(100%);
            }

            @include brp($b8) {
                padding: 0 40px;
            }

            img {
                @include position(relative, 0, -6%, top, right);
                z-index: -1;

                @include brp(1510) {
                    right: 0;
                }

                @include brp($b4) {
                    @include wh(100%, 600px);
                    object-fit: contain;
                }

                @include brp($b7) {
                    height: 490px;
                }

                @include brp($b8) {
                    @include wh(254px, 440px);
                    object-fit: cover;
                }
            }
        }

    }

    .pattern_3 {
        @include position(absolute, 285px, calc(50% + 190px), bottom);

        @include brp($b7) {
            left: initial;
            right: 140px;
        }
    }
}

.trademark {
    @include position;
    @extend %line_bottom_1;
    background-color: $c3;

    &:after {
        bottom: -75px;

        @include brp($b5) {
            bottom: -40px;
        }
    }

    .title {
        @include text(center);
        @extend %title_1;
        margin: {
            top: 70px;
            bottom: 35px;
        }

        @include brp($b8) {
            width: 275px;
            margin: 70px auto 35px;
        }
    }

    .description {
        @include text(center);
        @extend %content_1;
        margin-bottom: 40px;

        @include brp($b8) {
            width: 275px;
            margin: 0 auto 40px;
        }
    }

    .list {
        @include center-flex-row;
        max-width: 1350px;
        margin: 0 auto 50px;
        flex-wrap: wrap;

        .items {
            @include center-flex-column;
            @include wh(450px);
            margin-bottom: 45px;

            @include brp(1214) {
                @include wh(300px);
            }

            .avatar {
                @include position;
                @include whs(235px);
                @include border-radius(50%);
                background-color: $c1;
                margin-bottom: 20px;

                @include brp($b5) {
                    @include whs(150px);
                }

                &:before { @include hv-center; }

                &.brain {
                    &:before { top: 46%; }
                }
            }

            .subtitle {
                @include font(szrem(28), $f1, bold);
                @include text(center);
                color: $c1;

                @include brp($b5) {
                    font-size: szrem(18);
                }
            }

            .content { @extend %content_1; }
        }
    }

    .pattern_4 {
        @include position(absolute, 190px, 90px, bottom);

        @include brp(1213) {
            left: -101px;
        }

        @include brp($b5) {
            left: -50px;
        }
    }
}

.howtouse {
    @include position;
    @include center-flex-column;

    @include brp($b7) {
        padding: 40px 0;
    }

    .title {
        @include text(center);
        @extend %title_1;
        margin-bottom: 50px;
    }

    .list {
        @include flex;
        @include justify-content(space-around);
        @include align-items(flex-start);
        @include flex-direction(row);
        @include wh(1150px);
        flex-wrap: wrap;
        margin-bottom: 60px;

        @include brp(1160) {
            @include wh(90%);
        }

        .items {
            @include flex;
            @include flex-direction(column);
            @include align-items(center);

            @include brp($b8) {
                margin-bottom: 26px;
            }

            .image {
                margin-bottom: 20px;

                @include brp($b5) {
                    @include wh(150px);
                }
            }

            .description {
                @include text(center);
                @include wh(288px);
                @extend %content_1;

                @include brp($b5) {
                    @include wh(254px);
                }
            }
        }
    }

    .content {
        @include font(szrem(28), $f1, bold);
        @include text(center);
        @include wh(660px);
        margin-bottom: 40px;
        color: $c1;

        @include brp($b5) {
            font-size: szrem(22);
        }

        @include brp($b5) {
            width: 93%;
        }
    }

    .button_1 {
        @include button_style(());
    }

    .pattern_5 {
        @include position(absolute, 285px, 340px, bottom, right);

        @include brp($b3) {
            right: 172px;
        }

        @include brp($b5) {
            display: none;
        }
    }
}
