<div class="main_layout">
    <header-component class="layout_header"></header-component>

    <main class="first_content">
        <h1 class="title">Reframing economy</h1>
        <p class="content">Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian sus comportamientos y afectan las intensión de consumo.</p>
        <a href="#" class="button_1">Ir al Dashboard</a>
        <div class="explore arrow_1"> Scroll to explore </div>

        <span class="plus_2"></span>
        <span class="pattern_1"></span>
    </main>

    <section class="whatisit">
        <div class="main_container">
            <div class="info">
                <h1 class="title">¿Qué es?</h1>
                <p class="content">Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik’s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.</p>
                <a href="#" class="link_1">Ver teoría</a>
            </div>
            <div class="graph">
                <div class="graph_1">
                    <img src="assets/images/svg/graph_1.svg" alt="graph_1">
                </div>
                <div class="graph_2">
                    <img src="assets/images/svg/graph_2.svg" alt="graph_2">
                </div>
            </div>
        </div>

        <span class="pattern_2"></span>
    </section>

    <section class="why">
        <div class="main_container">
            <div class="graph">
                <img src="assets/images/photos/1.jpg" alt="Photo 1">
            </div>
            <div class="info">
                <h1 class="title">¿Por qué?</h1>
                <p class="content">El significado del valor esta cambiando los productos y servicios, básicamente porque ese valor esta siendo dominado por emociones modificando las prioridades y valoraciones de los colombianos.</p>
            </div>
        </div>

        <span class="pattern_3"></span>
    </section>

    <section class="trademark">
        <h1 class="title">¿Cómo esto ayuda a las marcas?</h1>
        <p class="description">Esta visión nos ayuda a transformar el Journey</p>

        <ul class="list">
            <li class="item_1 items">
                <div class="avatar eye"></div>
                <h4 class="subtitle">Reconocer</h4>
                <p class="content">Reconocer nuevos desencadenantes.</p>
            </li>
            <li class="item_2 items">
                <div class="avatar brain"></div>
                <h4 class="subtitle">Repensar</h4>
                <p class="content">Repensar puntos de contacto.</p>
            </li>
            <li class="item_3 items">
                <div class="avatar question"></div>
                <h4 class="subtitle">Reconsiderar</h4>
                <p class="content">Reconsiderar puntos de dolor.</p>
            </li>
            <li class="item_4 items">
                <div class="avatar balance"></div>
                <h4 class="subtitle">Reequilibrar</h4>
                <p class="content">Reequilibrar la emoción.</p>
            </li>
            <li class="item_5 items">
                <div class="avatar light_buld"></div>
                <h4 class="subtitle">Reimaginar</h4>
                <p class="content">Reimaginar escenarios.</p>
            </li>
        </ul>

        <span class="pattern_4"></span>
    </section>

    <section class="howtouse">
        <h1 class="title">¿Cómo usar el dashboard?</h1>
        <ul class="list">
            <li class="items item_1">
                <img class="image" src="assets/images/photos/2.png" alt="Photo 2">
                <p class="description">1. Usa los diferentes selectores y filtros para ver diferentes resultados y análisis.</p>
            </li>
            <li class="items item_2">
                <img class="image" src="assets/images/photos/3.png" alt="Photo 3">
                <p class="description">2. Navega entre las distintas pestañas para encontrar lo que estas buscando.</p>
            </li>
            <li class="items item_3">
                <img class="image" src="assets/images/photos/4.png" alt="Photo 4">
                <p class="description">3. También puedes escuchar los análisis con los principales insights, haciendo clic en el botón de audio.</p>
            </li>
        </ul>
        <p class="content">Ya estas listo para ingresar y visualizar toda la información presentada.</p>
        <a class="button_1" href="#">Ir al Dashboard</a>

        <span class="pattern_5"></span>
    </section>

    <footer-component class="layout_footer"></footer-component>
</div>
