@import "instance";

.form_contact {
    .form-group {
        @include flex-direction(column);
        @include flex;

        label {
            @extend %content_1;
            margin-bottom: 10px;
        }

        input {
            &[type=text],
            &[type=email] {
                @include font(szrem(18));
                @include wh(450px, 45px);
                padding: 15px 10px;
                margin-bottom: 20px;

                @include brp($b5) {
                    @include wh(300px, 30px);
                    margin: 0 auto 15px;
                    font-size: szrem(14);
                    text-align: center;
                }
            }

        }
    }

    .button_1 {
        @include button_style((
            width: 175px
        ));

        &:disabled {
            @include button_style((
                bgc: $c6,
                width: 175px,
                cursor: default
            ));
        }

    }
}

.result {
    background-color: $c6;
    padding: 20px;
    margin-top: 45px;

    @include brp($b5) {
        margin-top: 20px;
    }

    .content {
        @include font(szrem(18), $f1);
        @include wh(400px);
        color: $c1;
        margin-bottom: 10px;

        @include brp($b5) {
            font-size: szrem(14);
            @include wh(250px);
        }
    }

    .button_1 {
        @include button_style(());
        margin-top: 20px;
    }
}
