<form [formGroup]="formcontact" (ngSubmit)="contact()" class="form_contact">
    <div class="form-group">
        <label for="user">Nombre</label>
        <input
            id="name"
            class="form-control"
            type="text"
            required
            formControlName="name"
            >

            <div
                *ngIf="formcontact.controls.name.touched
                && !formcontact.controls.name.valid"
                class="alert alert-danger"
                >name is required</div>
    </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                id="email"
                class="form-control"
                type="email"
                required
                formControlName="email"
                >
                <div
                    *ngIf="formcontact.controls.email.touched
                    && !formcontact.controls.email.valid"
                    class="alert alert-danger"
                    >email is required</div>
        </div>

            <input class="button_1" type="submit" value="Submit" [disabled]="!formcontact.valid" />
</form>

<div [hidden]="!submitted" class="result">
    <hr>
    <p class="content">Los datos que usted suministro son los siguientes</p>

    <p class="content">Nombre: {{ formcontact.value.name }}</p>
    <p class="content">Email: {{ formcontact.value.email }}</p>
    <button
        class="button_1"
        (click)="submitted=false"
        >Cerrar este bloque</button>
</div>

