@import "instance";

.main_footer {
    @include center-flex-column;
    @include whs(100%);
    background-color: $c4;

    h3 {
        @include font(szrem(22), $f1, bold);
        @include text(center, capitalize);
        margin-bottom: 10px;
        color: $c1;

        @include brp($b5) {
            font-size: szrem(18);
        }

        @include brp($b8) {
            margin-bottom: 5px;
        }
    }

    p {
        @include font(szrem(14));
        @include text(center, capitalize);
        color: $c1;

        @include brp($b5) {
            font-size: szrem(10);
        }
    }
}
