<header class="main_header">
    <div class="main_container">
        <h1 class="logo_wunderman_thompson">Wunderman Thompson</h1>
        <div class="menu_component">
            <menu-component></menu-component>
        </div>
    </div>
</header>
