@import "instance";

.main_header {
    @include whs(100%);
    background-color: $c4;

    .main_container {
        @include grid;
        padding: 0 15px;
        grid-template: {
            columns: repeat(2, 1fr);
            rows: 1fr;
            areas: "logo menu";
        }

        .logo_wunderman_thompson {
            @include position;
            @include wh(137px, 70px);
            @include ht;
            grid-area: logo;
            z-index: 10;

            @include brp($b5) {
                height: 43px;
            }
        }

        .menu_component {
            @include justify-content(flex-end);
            @include align-items(center);
            @include whs(100%);
            @include flex;
            grid-area: menu;
        }
    }
}
