<div class="single_layout">
    <header-component class="layout_header"></header-component>
    <main class="layout_content about_content">
        <div class="main_container">
            <h1 class="title">Quiénes somos</h1>
            <div class="container_people">
                <div class="people" *ngFor="let u of users">
                    <img src="{{ u.avatar }}" alt="{{ u.last_name }}" class="avatar">
                    <p class="name"> {{ u.first_name }} {{ u.last_name }}</p>
                    <p class="email">{{ u.email }}</p>
                </div>
            </div>
        </div>

        <span class="plus_2"></span>
    </main>
    <footer-component class="layout_footer"></footer-component>
</div>
