@import "instance";

.about_content {
    @include position;
    @extend %line_top_1;
    @extend %line_bottom_1;
    overflow: hidden;
    z-index: 2;

    .plus_2 { @extend %plus_2; }

    .main_container {
        @include flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @include position;
        padding: 165px 0;

        @include brp($b2) {
            padding: 75px 0;
        }


        .title {
            @extend %title_1;
            margin-bottom: 45px;

            @include brp($b5) {
                margin-bottom: 25px;
            }
        }

        .container_people {
            @include justify-items(center);
            @include grid;
            @include wh(70%);
            max-width: 980px;
            grid: {
                gap: 35px 43px;
                template-columns: repeat(
                    auto-fit,
                    minmax(200px, 1fr)
                );
            }

            @include brp($b5) {
                @include wh(80%);
                grid-gap: 20px;
            }

            .people {
                @include flex-direction(column);
                @include align-items(center);
                @include flex;

                .avatar {
                    @include wh(100%);
                    min-width: 200px;
                    max-width: 200px;
                }

                .name {
                    @include text(center);
                    @extend %content_1;
                }

                .email {
                    @include font(szrem(14), $f1, normal, italic);
                    @include text(center);
                    color: $c1;

                    @include brp($b2) {
                        font-size: szrem(12);
                    }

                    @include brp($b5) {
                        font-size: szrem(10);
                    }
                }
            }

        }

    }

}
