//-----------------------------------
//Keyframes
//-----------------------------------

@include keyframes(menu_open_1) {
    0% {
        stroke: {
            dashoffset: -22;
            dasharray: 60 272;
        }
    }
    100% {
        stroke: {
            dashoffset: -205;
            dasharray: 55 254;
        }
    }
}

@include keyframes(menu_close_1) {
    0% {
        stroke: {
            dashoffset: -205;
            dasharray: 55 254;
        }
    }
    100% {
        stroke: {
            dashoffset: -22;
            dasharray: 60 272;
        }
    }
}

//-----------------------------------
//End Keyframes
//-----------------------------------
