@import "instance";

.main_container {
    @include align-items(center);
    @include whs(100%);
    @include grid;
    max-width: 1660px;
    margin: 0 auto;
}

.main_layout {
    @include grid;
    grid-template: {
        areas:
            "header"
            "firts_content"
            "whatisit"
            "why"
            "trademark"
            "howtouse"
            "footer"
        ;
        rows:
            150px
            repeat(5, minmax(1028px, auto))
            185px;
        columns: auto;
    }

    @include brp($b2) {
        grid-template-rows: 75px repeat(5, minmax(980px, auto)) 85px;
    }

    @include brp($b5) {
        grid-template-rows: 75px repeat(5, minmax(755px, auto)) 85px;
    }

    @include brp($b8) {
        grid-template-rows: 52px repeat(5, minmax(600px, auto)) 50px;
    }

    .layout_header {
        grid-area: header;
        z-index: 4;
    }
    .layout_footer { grid-area: footer; }
    .firts_content { grid-area: firts_content; }
    .whatisit { grid-area: whatisit; }
    .why { grid-area: why; }
    .trademark { grid-area: trademark; }
    .howtouse { grid-area: howtouse; }
}

.single_layout {
    @include grid;
    grid-template: {
        areas:
            "header"
            "content"
            "footer"
        ;
        rows: 150px minmax(calc(100vh - 336px), auto) 185px;
        columns: auto;
    }

    @include brp($b2) {
        grid-template-rows: 75px minmax(calc(100vh - 160px), auto) 85px;
    }

    @include brp($b8) {
        grid-template-rows: 52px minmax(calc(100vh - 160px), auto) 50px;
    }

    .layout_header {
        grid-area: header;
        z-index: 4;
    }
    .layout_footer { grid-area: footer; }
    .layout_content {
        grid-area: content;
        overflow: hidden;

        @include brp(1730) {
            padding: 0 35px;
        }
    }
}
