//-----------------------------------
//Mixin
//-----------------------------------

@mixin button_style($map) {
    $bgc1: mapv($map, bgc, $c3);
    $col1: mapv($map, color, $c1);
    $w1: mapv($map, width, 260px);
    $h1: mapv($map, height, 55px);
    $cur: mapv($map, cursor, pointer);

    @include font(szrem(22), $f1, bold);
    @include center-flex-column;
    @include wh($w1, $h1);
    @include text(center);
    background-color: $bgc1;
    cursor: $cur;
    color: $col1;

    @include brp($b5) {
        @include wh(166px, 35px);
        margin: 0 auto;
        font-size: szrem(14);
    }
}

// add scroll
@mixin scroll($color: $c6) {
    @include position;
    overflow: {
        x: hidden;
        y: auto;
    }

    &::-webkit-scrollbar {
        @include appearance;
        @include wh(15px);
        background-color: $c0;
    }

    &::-webkit-scrollbar-thumb {
        @include border-radius(10px);
        height: 67px;
        background-color: $color;
    }

    &::-webkit-scrollbar-track {
        @include border-radius(10px);
    }
}


//-----------------------------------
//End Mixin
//-----------------------------------
