//-----------------------------------
//Silent Class
//-----------------------------------

%line_1 {
    @include transform(translate(-50%, 0));
    @include wh(1px, 155px);
    background-color: $c1;

    @include brp($b2) {
        height: 75px;
    }
}

%line_top_1 {
    &:before {
        @include position(absolute, 0, 50%);
        @extend %line_1;
        content: "";
    }
}

%line_bottom_1 {
    &:after {
        @include position(absolute, 0, 50%, bottom);
        @extend %line_1;
        content: "";
    }
}

%title_1 {
    @include font(szrem(72), $f1, bold);
    display: block;
    color: $c1;

    @include brp($b2) {
        font-size: szrem(54);
    }

    @include brp($b5) {
        text-align: center;
        font-size: szrem(42);
        line-height: 36px;
    }
}

%content_1 {
    @include font(
        szrem(22), $f1,
        normal, normal, 26px);
    color: $c1;

    @include brp($b2) {
        font-size: szrem(18);
    }

    @include brp($b5) {
        text-align: center;
        font-size: szrem(14);
        line-height: 14px;
    }
}

%plus_2 {
    @include position(absolute);
    @include wh(100%, 2050px);
    overflow: hidden;
    display: block;
    z-index: -1;

    @include brp($b5) {
        height: 1024px;
    }

    &:before {
        @include transform(
            rotate(-13deg)
            translate(342px, -806px)
        );

        @include brp($b5) {
            @include transform(
                rotate(-13deg)
                translate(342px, -267px)
            );
        }
    }
}

//-----------------------------------
//END Silent Class
//-----------------------------------
