@import "instance";

.error-video {
    @include position(fixed, 50%, 50%);
    @include transform(translate(-50%, -50%));
    min-width: 100%;
    min-height: 100%;
    @include whs();
    z-index: -1;

    @include brp($b5) {
        display: none;
    }
}

.layout_content {
    .main_container {
        @include flex-direction(column);
        @include align-items(flex-start);
        @include flex;

        @include brp($b5) {
            @include center-flex-column;
        }

        .title {
            @include wh(50%);
            @extend %title_1;
            margin-bottom: 10px;

            @include brp($b6) {
                @include wh(315px);
                font-size: szrem(32);
                line-height: 28px;
            }
        }

        .subtitle {
            @include font(szrem(28), $f1, bold);
            margin-bottom: 20px;
            color: $c1;

            @include brp($b5) {
                font-size: szrem(24);
            }
        }

        .content {
            @include wh(500px);
            @extend %content_1;
            margin-bottom: 40px;

            @include brp($b5) {
                @include wh(300px);
            }

            @include brp($b8) {
                margin-bottom: 20px;
            }
        }

        .button_1 {
            @include button_style((
                bgc: $c4,
                width: 360px
            ));
        }
    }
}
