<div class="single_layout">
    <header-component class="layout_header"></header-component>
    <main class="layout_content">
        <div class="main_container">
            <h1 class="title"> Sorry, this page could not be found </h1>
            <h2 class="subtitle"> Error 404 </h2>
            <p class="content"> The link you followed may be broken, or the page may have been removed.  </p>
            <a routerLink="/" class="button_1" (click)="clickLink()"> Go back to the home page </a>
        </div>
    </main>
    <footer-component class="layout_footer"></footer-component>
</div>

<video
    class="error-video"
    muted="muted"
    autoplay="true"
    loop="true"
    webkit-playsinline="true"
    playsinline="true"
    #errorVideo
>
    <source src="assets/video/1.ogv">>
    <source src="assets/video/1.webm">>
    <source src="assets/video/1.mp4">>
</video>
