@import "instance";

.contact_content {
    @include position;
    @extend %line_top_1;
    @extend %line_bottom_1;
    z-index: 2;
    overflow: hidden;

    .main_container {
        @include align-items(center);
        @include flex-direction(column);
        @include flex;
        padding: 165px 0;

        @include brp($b5) {
            padding: 90px 0;
        }

        .title {
            @extend %title_1;
            margin-bottom: 48px;

            @include brp($b5) {
                margin-bottom: 20px;
            }
        }

        .content {
            @include text(center);
            @extend %content_1;
            margin-bottom: 48px;

            &.content_1 {
                @include wh(536px);

                @include brp($b5) {
                    @include wh(300px);
                    margin-bottom: 20px;
                }
            }
            &.content_2 { margin-bottom: 20px; }
        }

        .form_contact_component {
            margin-bottom: 45px;
        }

        .button_1 {
            @include button_style((
                width: 550px
            ));
            margin-bottom: 110px;

            @include brp($b5) {
                width: 346px;
            }

            @include brp($b8) {
                width: 256px;
                font-size: szrem(11);
            }
        }
    }

    .plus_2 { @extend %plus_2; }

    .pattern_5 {
        @include position(absolute, 285px, 340px, bottom, right);

        @include brp($b5) {
            display: none;
        }
    }
}
