<div class="single_layout">
    <header-component class="layout_header"></header-component>
    <main class="layout_content contact_content">
        <div class="main_container">
            <h1 class="title">Contacto</h1>
            <p class="content content_1">Si tienes alguna duda o inquietud puedes diligenciar el siguiente formulario:</p>

            <form-contact-component class="form_contact_component"></form-contact-component>

            <p class="content content_2">También puedes enviarmos un correo a: </p>
            <a href="mailto:data.manager@wundermanthompson.com" class="button_1">data.manager@wundermathompson.com</a>
        </div>

        <span class="plus_2"></span>
        <span class="pattern_5"></span>
    </main>
    <footer-component class="layout_footer"></footer-component>
</div>
