@import "assets/sass/core/variables";
@import "assets/sass/core/base";
@import "assets/sass/core/mediaqueries";
@import "assets/sass/core/fonts";
@import "assets/sass/core/reset";
@import "assets/sass/core/keyframes";
@import "assets/sass/core/layout";
@import "assets/sass/core/mixin";
@import "assets/sass/core/silent_class";


body {
    @include no-margins;
    @include font(100%);
    @include scroll;
    background-color: $c5;

    &.nofound_page {
        background-color: $c7;
        overflow: hidden;

        .main_header { background-color: $c0; }
        .main_footer { background-color: $c0; }

    }

    &.no_scroll {
        overflow: hidden;
    }

    &.home_page,
    &.about_page,
    &.contact_page {
        .menu_component{
            .container_button_menu {
                .main_menu {
                    background-color: $c3;
                }
            }
        }
    }
}
