<div class="container_button_menu" [ngClass]="menuOpen ? 'open' : 'close'">
    <button class="button_menu" (click)="actionMenu()">
        <svg viewBox="0 0 125.496 117.13">
            <g class="mc" fill="none">
            <path d="M8.175 82.591h92.573c21.093 0 19.59-57.767 9.713-63.496-9.877-5.728-13.79 2.715-21.4 9.6l-80.886 80.18z" class="mc1"/>
            <path d="M8.07 35.562h92.573c21.092 0 19.59 56.745 9.713 62.473-9.877 5.729-13.79-2.714-21.401-9.6L8.07 8.255z" class="mc2"/>
            <path d="M8.294 58.542h101.623" class="mc3"/>
            </g>
        </svg>
    </button>

    <nav class="main_menu" [ngClass]="menuOpen ? 'open' : 'close'">
        <ul class="list_menu">
            <li class="item_1 items">
                <a routerLink="/" (click)="actionItemMenu()" [class.disabled]="isHome">Home </a>
            </li>
            <li class="item_2 items">
                <a routerLink="/about" (click)="actionItemMenu()" [class.disabled]="isAbout"> Quienes Somos </a>
            </li>
            <li class="item_3 items">
                <a routerLink="/contact" (click)="actionItemMenu()" [class.disabled]="isContact"> Contacto </a>
            </li>
        </ul>

        <span class="plus_2"></span>
    </nav>
</div>
