@import "instance";

.container_button_menu {
    @include position;
    @include whs($s1);

    @include brp($b5) {
        @include whs($s2);
    }

    &.open {
        .button_menu {
            svg  {
                .mc { @include animation(menu_open_1 $t5 linear forwards); }
            }
        }
    }

    &.close {
        .button_menu {
            svg  {
                .mc { @include animation(menu_close_1 $t5 linear forwards); }
            }
        }
    }

    .button_menu {
        @include position(relative);
        @include whs(inherit);
        @include no-margins;
        background-color: $c0;
        z-index: 10;

        svg  {
            @include position(absolute);
            @include whs($s1);
            cursor: pointer;

            @include brp($b5) {
                @include whs($s2);
            }

            .mc {
                stroke: $c1;
                stroke: {
                    width: 5;
                    linecap: round;
                    dashoffset: -22;
                    dasharray: 60 272;
                }
            }
        }
    }

    .main_menu {
        @include transition(left $t8 linear);
        @include center-flex-column;
        @include position(fixed, 0, 140vw);
        @include wh(150vw, 100vh);
        @include clip-path(polygon(0 0, 100% 0%, 100% 100%, 25% 100%));
        background-color: $c5;
        z-index: 2;

        &.open { left: -40vw; }
        &.close { left: 140vw; }

        .list_menu {
            @include position(relative, 0, 40vw);
            width: 70%;

            &:hover li:not(:hover) { opacity: 0.3; }

            .items {
                @include transition(opacity 500ms ease);
                margin-bottom: 20px;

                @include brp($b7) {
                    margin-bottom: 10px;
                }

                a {
                    @include font(szrem(68), $f1, 200);
                    @include user-select;
                    display: block;
                    color: $c1;

                    @include brp($b2) {
                        font-size: szrem(45);
                    }

                    @include brp($b7) {
                        font-size: szrem(28);
                    }

                    &.disabled {
                        opacity: 0.2;
                        pointer-events: none;
                        cursor: default;
                    }
                }
            }
        }

        .plus_2 {
            @include position(absolute, -105px, 32px);
            @include transform(scale(0.65) rotate(-13deg));
            z-index: -1;
        }
    }
}
