@import "instance";

@svg-load logo url(#{$i1+"logo_wunderman_thompson.svg"}) {
    fill: $c3;
    path:nth-child(2) {
        fill: $c1;
    }
}

.logo_wunderman_thompson {
    &:before {
        @include icon_svg(logo_wunderman_thompson, 137px, 50px, "inline", logo);
        content: "";

        @include brp($b5) {
            @include wh(101px, 39px);
        }
    }
}

.arrow_1 {
    &:before {
        @include icon_svg(arrow_1, 30px, 30px, $c1);
        content: "";
    }
}

.plus_2 {
    &:before {
        @include icon_svg(plus_1, 2755px, 2755px, $c4);
        content: "";

        @include brp($b5) {
            @include whs(1024px);
        }

        @include brp($b6) {
            @include whs(600px);
        }
    }
}

.pattern_1,
.pattern_2 {
    &:before {
        @include icon_svg(pattern_1, 255px, 370px, $c3);
        content: "";

        @include brp($b5) {
            @include wh(125px, 170px);
        }
    }
}

.pattern_3,
.pattern_4,
.pattern_5 {
    &:before {
        @include icon_svg(pattern_1, 255px, 370px, $c1);
        content: "";

        @include brp($b5) {
            @include wh(125px, 170px);
        }
    }
}

.eye {
    &:before {
        @include icon_svg(eye, 129px, 155px, $c5);
        content: "";

        @include brp($b5) {
            @include wh(76px, 92px);
        }
    }
}

.brain {
    &:before {
        @include icon_svg(brain, 158px, 149px, $c5);
        content: "";

        @include brp($b5) {
            @include wh(94px, 88px);
        }
    }
}

.question {
    &:before {
        @include icon_svg(question, 153px, 153px, $c5);
        content: "";

        @include brp($b5) {
            @include whs(91px);
        }
    }
}

.balance {
    &:before {
        @include icon_svg(balance, 119px, 119px, $c5);
        content: "";

        @include brp($b5) {
            @include whs(70px);
        }
    }
}

.light_buld {
    &:before {
        @include icon_svg(light_bulb, 117px, 125px, $c5);
        content: "";

        @include brp($b5) {
            @include wh(69px, 74px);
        }
    }
}

